@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&#39');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap&#39');

:root {
    --laranja-claro:#ff862A;/*Definir uma variável CSS para a cor laranja*/
}

body{
    font-size: 1rem; /*Tamanho de fonte base(geralmente16px)*/
    font-family: 'montserrrat';/*Fonte principal do site*/
}

/*estilo do cabeçalho*/

header{
    background-color: #ffffff;/* fundo branco para o cabeçalho*/
}

/*seções gerais*/
section{
    padding-bottom: 5rem; /*espaçamento inferior grande par seções */
    }

    /*Links de navegaçõe*/
    .nav-link{
        color: #cb6d43; /*Cor marrom-alanranjada para os link*/
        font-weight: 600; /*texto em negrito*/
    }